table,
.table {
  font-size: 0.830125rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
.table th, .table td {
    padding: 0.6rem;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,0.1);
}
h1 {
  margin-bottom: 0.4em;
}
h2{
  font-size: 1em;
  padding: 1em 0;
}
label{
  text-align: center;
}


i.wi {
  font-size: 5em;
  text-align: center;
  line-height: 1.3em;
}