table,
.table {
  font-size: 0.830125rem;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
.table th, .table td {
    padding: 0.6rem;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,0.1);
}
h1 {
  margin-bottom: 0.4em;
}
h2{
  font-size: 1em;
  padding: 1em 0;
}
label{
  text-align: center;
}


i.wi {
  font-size: 5em;
  text-align: center;
  line-height: 1.3em;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1.1rem;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.31);
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}